.span {
    visibility: hidden;
    margin-left: -35%;
    font-size: 0.7em;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/image/digital-art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main {
    width: 78%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff21;
    border-radius: 20px;
}

.sec1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 96%;
    height: 96%;
    background-image: url(/image/Sign-Up/city-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 90%;
    text-align: center;
}

h2 {
    color: white;
}

.inp-Box {
    width: 80%;
    height: 1em;
    padding: 14px;
    border: solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    overflow: hidden;
}

input {
    outline: none;
    border: none;
    background: transparent !important;
    width: 90%;
    height: 100%;
    color: #000000;
}

i {
    width: 10%;
}

input::placeholder {
    color: black;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em 1em;
}

#sub-Btn-Box {
    cursor: pointer;
}

#sub-Btn {
    width: 100%;
    height: 100%;
}

.text {
    width: 90%;
    height: 70%;
    text-align: center;
    color: #fff;
}

.city {
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
}

i{
    color: #000000;
}


@media only screen and (max-width : 768px) {
    .form {
        width: 80%;
        margin-top: -10px;
    }

    .inp-Box {
        padding: 6px 9px;
    }
}

@media only screen and (max-width : 425px) {
    .main {}

    .sec1 {
        display: none;
    }

    .sec2 {
        width: 70%;
        height: 100%;
        padding: 10px 0 20px;
    }

    .inp-Box {
        width: 100%;
    }

}