*{
    color: white !important;
    font-weight: 00 !important;
    text-transform: capitalize !important;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/image/Dashboard/abstract-balls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
nav{
    background-color: #21252967 !important;
}
nav a{
    color: white !important;
}

.container-box{
    /* margin-top: 10% !important; */
    width: 100% !important;
    height: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.521) !important;
    padding: 10px 20px;
    border-radius: 20px;
}

.box{
    width: 50% !important;
}
h1{
    color: black !important;
}
h1 span{
color: black !important;
}
.box p{
    font-size: 10px;
    color: black !important;
}
.container-box .img{
    width: 50% !important;
}
.img img{
    width: 100% !important;  
    height: 100% !important;
}

@media only screen and (max-width : 320px) {
    .container-box{
        flex-direction: column;
    }
    .box{
        width: 100% !important;
    }
    .img{
        width: 100% !important;
    }
}